{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [
          ".ios.ts",
          ".android.ts",
          ".ts",
          ".ios.tsx",
          ".android.tsx",
          ".jsx",
          ".js",
          ".json"
        ],
        "alias": {
          "src": "./src",
          "pages": "./src/Pages",
          "utils": "./src/utils",
          "hooks": "./src/Hooks",
          "navigations": "./src/Navigations",
          "components": "./src/Components",
          "assets": "./src/Assets"
        }
      }
    ]
  ]
}
